<div class="row">
  <div class="container">
    <h2>About ng-spotify app</h2>

    <p>With the ng-spotify app we can show all artists in spotify application and show they albums and discography
      information.</p>
    <p>The app has been created with the API from Spotify, with Angularjs2.</p>

  </div>
  <div class="col-md-12">
    <h3>Angularjs 2</h3>
    <img src="/an-logo.png" alt="Angular Logo" class="img-responsive img-center">
    <hr>
    <h3>Spotify API</h3>
    <img src="/sp-logo.png" alt="Spotify Logo" class="img-responsive img-center">
    <hr>
    <h3>Twitter Bootstrap</h3>
    <img src="/bt-logo.png" alt="Bootstrap Logo" class="img-responsive img-center">
  </div>
</div>

