.separate{
  margin-bottom: 10px;
  min-height:400px;
}
.splash {
  background-color: #000000;
  background-image: url(music-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  background-repeat: no-repeat;
}
.well{
  background-color: rgba(26, 112, 223, 0.4);
}
